<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Layout</title>
    
    <link rel="stylesheet" href="./two.css">
</head>
<body>
    <h1 style="text-align:center; color: red;">HTML Layouts</h1>

    <header>
        <h1>My Training WebPage</h1>
    </header>

    <div class="one">
        <nav>
            <ul class="two">
                <li class="three"><a href="#">Html</a></li>
                <li class="three"><a href="./three.html">Css</a></li>
                <li class="three"><a href="#">Bootstrap</a></li>
                <li class="three"><a href="#">Javascript</a></li>
                <li class="three"><a href="#">React</a></li>
            </ul>
        </nav>
    </div>

    <div class="four">
        
            <div>
                <aside>
                    <ul>
                            <li class="five"><a href="#one" class="six" >one</a></li>
                            <li class="five"><a href="#two" class="six" >two</a></li>
                            <li class="five"><a href="#three" class="six" >three</a></li>
                            <li class="five"><a href="#four" class="six" >four</a></li>
                            <li class="five"><a href="#five" class="six" >five</a></li>
                            <li class="five"><a href="#six" class="six" >six</a></li>
                            <li class="five"><a href="#seven" class="six" >seven</a></li>
                            <li class="five"><a href="#eight" class="six" >eight</a></li>
                            <li class="five"><a href="#nine" class="six" >nine</a></li>
                            <li class="five"><a href="#ten" class="six" >ten</a></li>
                    </ul>
                </aside>
            </div>
        

        <div class="seven">
            <h2 id="one">One</h2>
            <div class="first">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eaque commodi vel, quia quis obcaecati fuga impedit debitis ipsa adipisci fugiat maxime earum, atque, amet veniam ut. Aliquam, dicta officiis?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed sequi fuga culpa neque illum optio excepturi est aut nesciunt assumenda, ipsa aliquid ab consectetur atque in eos ut delectus dicta!</p>
            </div>

            <h2 id="two">Two</h2>
            <div class="first">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eaque commodi vel, quia quis obcaecati fuga impedit debitis ipsa adipisci fugiat maxime earum, atque, amet veniam ut. Aliquam, dicta officiis?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed sequi fuga culpa neque illum optio excepturi est aut nesciunt assumenda, ipsa aliquid ab consectetur atque in eos ut delectus dicta!</p>
            </div>

            <h2 id="three">Three</h2>
            <div class="first">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eaque commodi vel, quia quis obcaecati fuga impedit debitis ipsa adipisci fugiat maxime earum, atque, amet veniam ut. Aliquam, dicta officiis?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed sequi fuga culpa neque illum optio excepturi est aut nesciunt assumenda, ipsa aliquid ab consectetur atque in eos ut delectus dicta!</p>
            </div>

            <h2 id="four">Four</h2>
            <div class="first">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eaque commodi vel, quia quis obcaecati fuga impedit debitis ipsa adipisci fugiat maxime earum, atque, amet veniam ut. Aliquam, dicta officiis?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed sequi fuga culpa neque illum optio excepturi est aut nesciunt assumenda, ipsa aliquid ab consectetur atque in eos ut delectus dicta!</p>
            </div>

            <h2 id="five">Five</h2>
            <div class="first">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eaque commodi vel, quia quis obcaecati fuga impedit debitis ipsa adipisci fugiat maxime earum, atque, amet veniam ut. Aliquam, dicta officiis?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed sequi fuga culpa neque illum optio excepturi est aut nesciunt assumenda, ipsa aliquid ab consectetur atque in eos ut delectus dicta!</p>
            </div>

            <h2 id="six">Six</h2>
            <div class="first">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eaque commodi vel, quia quis obcaecati fuga impedit debitis ipsa adipisci fugiat maxime earum, atque, amet veniam ut. Aliquam, dicta officiis?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed sequi fuga culpa neque illum optio excepturi est aut nesciunt assumenda, ipsa aliquid ab consectetur atque in eos ut delectus dicta!</p>
            </div>

            <h2 id="seven">Seven</h2>
            <div class="first">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eaque commodi vel, quia quis obcaecati fuga impedit debitis ipsa adipisci fugiat maxime earum, atque, amet veniam ut. Aliquam, dicta officiis?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed sequi fuga culpa neque illum optio excepturi est aut nesciunt assumenda, ipsa aliquid ab consectetur atque in eos ut delectus dicta!</p>
            </div>

            <h2 id="eight">Eight</h2>
            <div class="first">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eaque commodi vel, quia quis obcaecati fuga impedit debitis ipsa adipisci fugiat maxime earum, atque, amet veniam ut. Aliquam, dicta officiis?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed sequi fuga culpa neque illum optio excepturi est aut nesciunt assumenda, ipsa aliquid ab consectetur atque in eos ut delectus dicta!</p>
            </div>

            <h2 id="nine">Nine</h2>
            <div class="first">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eaque commodi vel, quia quis obcaecati fuga impedit debitis ipsa adipisci fugiat maxime earum, atque, amet veniam ut. Aliquam, dicta officiis?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed sequi fuga culpa neque illum optio excepturi est aut nesciunt assumenda, ipsa aliquid ab consectetur atque in eos ut delectus dicta!</p>
            </div>

            <h2 id="ten">Ten</h2>
            <div class="first">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui eaque commodi vel, quia quis obcaecati fuga impedit debitis ipsa adipisci fugiat maxime earum, atque, amet veniam ut. Aliquam, dicta officiis?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed sequi fuga culpa neque illum optio excepturi est aut nesciunt assumenda, ipsa aliquid ab consectetur atque in eos ut delectus dicta!</p>
            </div>

            <a href="#one" class="fifth">move to top</a>
        </div>
    </div>

    <footer>
        <div class="fourth">
            <div class="second">
                <h2>Follow Us On</h2>       
            </div>
            <div class="third">
                <img src="./iconmonstr-facebook-3.svg" alt="facebook logo">
                <img src="./iconmonstr-instagram-13.svg" alt="insta logo">
                <img src="./iconmonstr-twitter-3.svg" alt="twitter logo">
            </div>
        </div>
    </footer>

</body>
</html> 